[Unit]
Description=Try to resolve name
Wants=network-online.target
After=network-online.target
Before=initrd-switch-root.target
Before=initrd.target
After=sysinit.target

[Service]
Type=oneshot
ExecStart=/usr/bin/getent hosts server.example.com

[Install]
WantedBy=sysinit.target
