policy_module(dnsconfd, 1.0)

require {
    type bin_t;
    type etc_t;
    type sssd_var_lib_t;
    type system_dbusd_var_run_t;
    type passwd_file_t;
    type sssd_public_t;
    type system_dbusd_t;
    type NetworkManager_t;
    type cert_t;
    type dns_port_t;
    type kernel_t;
    type lib_t;
    type named_conf_t;
    type named_exec_t;
    type named_var_run_t;
    type named_t;
    type net_conf_t;
    type node_t;
    type rndc_port_t;
    type sysfs_t;
    type systemd_userdbd_runtime_t;
    type systemd_userdbd_t;
    type unconfined_t;
    type named_unit_file_t;
    type init_t;
    class dbus { send_msg acquire_svc };
}

type dnsconfd_t;
type dnsconfd_exec_t;

init_daemon_domain(dnsconfd_t, dnsconfd_exec_t)

type dnsconfd_log_t;
logging_log_file(dnsconfd_log_t)

logging_search_logs(dnsconfd_t)

# Make sure that, if dnsconfd_t writes a log file, it gets the proper context
logging_log_filetrans(dnsconfd_t, dnsconfd_log_t, file)
# Be able to create and append to its own log files
allow dnsconfd_t dnsconfd_log_t:file { append_file_perms create_file_perms };
allow dnsconfd_t dnsconfd_log_t:dir search;

#============= NetworkManager_t ==============
allow NetworkManager_t dnsconfd_t:dbus send_msg;

#============= dnsconfd_t ==============

allow dnsconfd_t bin_t:file map;
allow dnsconfd_t bin_t:file execute;
allow dnsconfd_t cert_t:dir search;
allow dnsconfd_t cert_t:file { getattr open read };
allow dnsconfd_t dns_port_t:tcp_socket name_bind;
allow dnsconfd_t dns_port_t:udp_socket name_bind;
allow dnsconfd_t kernel_t:unix_stream_socket connectto;
# /etc/resolv.conf modifications
allow dnsconfd_t etc_t:dir { add_name create remove_name write read};
allow dnsconfd_t etc_t:lnk_file { getattr read write create unlink };
allow dnsconfd_t etc_t:file { getattr open read write create unlink };
allow dnsconfd_t lib_t:file write;
allow dnsconfd_t named_exec_t:file { execute execute_no_trans open read map};
# Required by unbound-control
allow dnsconfd_t named_conf_t:dir { getattr open read search};
allow dnsconfd_t named_conf_t:file { getattr ioctl open read };
allow dnsconfd_t named_var_run_t:dir { search };
allow dnsconfd_t named_var_run_t:sock_file { write };
allow dnsconfd_t named_t:unix_stream_socket { connectto };

allow dnsconfd_t net_conf_t:lnk_file { getattr read write unlink };
allow dnsconfd_t net_conf_t:file { getattr open read write create };
allow dnsconfd_t node_t:tcp_socket node_bind;
allow dnsconfd_t node_t:udp_socket node_bind;
allow dnsconfd_t passwd_file_t:file { getattr open read };
allow dnsconfd_t rndc_port_t:tcp_socket { name_bind name_connect };
allow dnsconfd_t self:capability { net_bind_service net_raw net_admin };
allow dnsconfd_t self:netlink_route_socket { bind create getattr nlmsg_read read write };
allow dnsconfd_t self:process setrlimit;
allow dnsconfd_t self:tcp_socket { bind connect create getopt listen setopt accept read write};
allow dnsconfd_t self:udp_socket { bind create setopt connect read write };
allow dnsconfd_t self:unix_dgram_socket { create ioctl };
allow dnsconfd_t sssd_public_t:dir search;
allow dnsconfd_t sssd_var_lib_t:dir search;
allow dnsconfd_t sysfs_t:lnk_file read;
allow dnsconfd_t system_dbusd_t:dbus { acquire_svc send_msg };
allow dnsconfd_t system_dbusd_t:unix_stream_socket connectto;
allow dnsconfd_t system_dbusd_var_run_t:dir search;
allow dnsconfd_t system_dbusd_var_run_t:sock_file write;
allow dnsconfd_t systemd_userdbd_runtime_t:dir { getattr open read search };
allow dnsconfd_t systemd_userdbd_runtime_t:lnk_file read;
allow dnsconfd_t systemd_userdbd_runtime_t:sock_file write;

allow dnsconfd_t systemd_userdbd_t:unix_stream_socket connectto;
allow dnsconfd_t tmp_t:dir { add_name create remove_name write read rmdir};
allow dnsconfd_t tmp_t:file { create unlink write open};
allow dnsconfd_t tmpfs_t:file { execute read write map };

# Neccessary for Fedora >= 39
# tempfile module unfortunately transitively imports libgomp,
# which tries to find out how many CPUs are available on the system by reading
# /sys/devices/system/cpu/possible file
# tracked in Fedora selinux upstream https://github.com/fedora-selinux/selinux-policy/issues/1974
# TODO: Add more fine graded permission
allow dnsconfd_t sysfs_t:file { read open };

allow unconfined_t dnsconfd_t:dbus send_msg;

allow dnsconfd_t init_t:dbus send_msg;
allow dnsconfd_t init_t:system status;
allow dnsconfd_t named_unit_file_t:service { start stop };
allow init_t dnsconfd_t:dbus send_msg;

# this is neccessary in testing farm, because resolv.conf seems to be
# on a separate partition there
dontaudit dnsconfd_t net_conf_t:file ioctl;
