[Unit]
Description=Dns local cache services configuration daemon
After=network.target dbus.service
Requires=dbus.service
Conflicts=systemd-resolved.service

[Service]
Type=dbus
User=dnsconfd
Group=dnsconfd
SupplementaryGroups=unbound
EnvironmentFile=/etc/sysconfig/dnsconfd
BusName=org.freedesktop.resolve1
ExecStart=/usr/sbin/dnsconfd $OPTIONS

[Install]
WantedBy=multi-user.target
