[Unit]
Description=Dns local cache services configuration daemon
After=network.target dbus.service
Requires=dbus.service
Conflicts=systemd-resolved.service

[Service]
Type=notify
User=dnsconfd
Group=dnsconfd
SupplementaryGroups=unbound
BusName=com.redhat.dnsconfd
ExecStartPre=+/usr/libexec/dnsconfd-prepare
ExecStart=/usr/bin/dnsconfd $OPTIONS
ExecStopPost=+/usr/libexec/dnsconfd-cleanup
EnvironmentFile=/etc/sysconfig/dnsconfd

[Install]
WantedBy=multi-user.target
Alias=dbus-com.redhat.dnsconfd.service
